<!-- filled -->
<button
class="m-3 text-purple-200 bg-purple-700 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-purple-400 hover:shadow-lg active:bg-purple-900"
>
Dark btn
</button>
<button
class="m-3 text-pink-200 bg-pink-700 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-pink-400 hover:shadow-lg active:bg-pink-900"
>
Dark btn
</button>
<button
class="m-3 text-indigo-200 bg-indigo-700 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-indigo-400 hover:shadow-lg active:bg-indigo-900"
>
Dark btn
</button>
<button
class="m-3 text-green-200 bg-green-700 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-green-400 hover:shadow-lg active:bg-green-900"
>
Dark btn
</button>
<button
class="m-3 text-yellow-100 bg-yellow-500 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-yellow-400 hover:shadow-lg active:bg-yellow-600"
>
Dark btn
</button>
<!-- outline -->
<button
class="transition-colors duration-300 m-3 text-purple-700 border-purple-700 border-2 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-purple-400 hover:bg-purple-700 hover:bg-opacity-25 active:bg-purple-900"
>
Dark btn
</button>
<button
class="transition-colors duration-300 m-3 text-pink-700 border-pink-700 border-2 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-pink-400 hover:bg-pink-700 hover:bg-opacity-25 active:bg-pink-900"
>
Dark btn
</button>
<button
class="transition-colors duration-300 m-3 text-indigo-700 border-indigo-700 border-2 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-indigo-400 hover:bg-indigo-700 hover:bg-opacity-25 active:bg-indigo-900"
>
Dark btn
</button>
<button
class="transition-colors duration-300 m-3 text-green-700 border-green-700 border-2 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-green-400 hover:bg-green-700 hover:bg-opacity-25 active:bg-green-900"
>
Dark btn
</button>
<button
class="transition-colors duration-300 m-3 text-yellow-500 border-yellow-500 border-2 px-5 py-3 rounded-lg font-semibold focus:outline-none focus:ring focus:ring-yellow-400 hover:bg-yellow-500 hover:bg-opacity-25 active:bg-yellow-900"
>
Dark btn
</button>